<template id="productCardTemplate">
  <a class="product-link block" href="">
    <div class="product">
      <div class="product">
        <div class="product-img-wrapper">
          <img src="img/products/gaubong (10).jpg" alt="Gấu bông capybara">
        </div>
        <div class="product-info">
          <h3>Gối Ôm Mèo Hoàng Thượng Cosplay Lotso</h3>
          <p>385.000₫</p>
          <div class="sizes">
            <span>80cm</span>
            <span>1m</span>
          </div>
        </div>
      </div>
  </a>
</template>
